<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="icon" href="/icons/4.png" type="image/gif" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <%- style %>
    </head>

    <body>

        <%- include('_header'); %> 
        
        <%- body %> 

        <%- include('_footer'); %> 
        
        <%- script %> 
    </body>
</html>