<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        
        <!-- setting up noty -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        
        <!-- jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <!-- favicon -->
        <link rel="icon" href="/icons/icon.png" type="image/gif" sizes="16x16">

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        
        <!-- css stylesheets -->
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>
    </head>

    <body>

        <%- include('_header'); %>  

        <%- body %> 

        <%- include('_footer'); %> 
        
        <!-- bootstrap js files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        
        <%- script %> 

        <script>
            <% if(flash.success && flash.success.length>0){ %>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.success %>",
                    type: 'success',
                    layout: 'topCenter',
                    timeout: 1500,
                    progressBar: false
                }).show();
            <% } %>

            <% if(flash.error && flash.error.length>0){ %>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.error %>",
                    type: 'error',
                    layout: 'topCenter',
                    timeout: 1500,
                    progressBar: false
                }).show();
            <% } %>

            <% if(flash.warning && flash.warning.length>0){ %>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.warning %>",
                    type: 'warning',
                    layout: 'topCenter',
                    timeout: 1500,
                    progressBar: false
                }).show();
            <% } %>
        </script>
    </body>
</html>